<a href="https://colab.research.google.com/github/biancachu/Introduction-to-Computers/blob/main/0518.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i = range(5)

In [ ]:
print(i)

range(0, 5)

In [ ]:
print(type(i))

<class 'range'>

In [ ]:
print(list(i))

[0, 1, 2, 3, 4]

In [ ]:
j = range(10)

In [ ]:
print(type(10))

<class 'int'>

In [ ]:
print(j)

range(0, 10)

In [ ]:
print(list(j))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a = range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [ ]:
b = range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [22]:
c = range(3,8,1)
d = range(3,8,2)
e = range(8,3,-1)
print(list(c))
print(list(d))
print(list(e))

[3, 4, 5, 6, 7]
[3, 5, 7]
[8, 7, 6, 5, 4]

In [25]:
f = range(0,9)
g = range(1,10)
h = range(1,10,2)
i = range(10,0,-2)
print(list(f))
print(list(g))
print(list(h))
print(list(i))

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

In [28]:
for n in range(3):
  print(n,end =',')

0,1,2,

In [29]:
for n in range(10):
  print(n,end =',')

0,1,2,3,4,5,6,7,8,9,

In [30]:
test = int(input('請輸入一個正整數'))
for m in range(1,test):
  print(m,end = " ")

請輸入一個正整數10
1 2 3 4 5 6 7 8 9

In [31]:
test = int(input('請輸入一個正整數'))
for m in range(1,test+1):
  print(m,end = " ")

請輸入一個正整數10
1 2 3 4 5 6 7 8 9 10

In [32]:
test = int(input('請輸入一個正整數'))
for m in range(1,test,2):
  print(m,end = " ")

請輸入一個正整數10
1 3 5 7 9

In [34]:
sum = 0
for n in range(3):
  sum = sum+n
print(sum)

3

In [47]:
test = int(input('請輸入一個正整數:'))
sum = 0
for m in range(11):
  sum = sum+m
print("1到10的整數和為",sum)

請輸入一個正整數:10
1到10的整數和為 55

In [49]:
test = int(input('請輸入一個正整數:'))
sum = 0
for m in range(51):
  sum = sum+m
print("1到50到的整數和為",sum)

請輸入一個正整數:50
1到50到的整數和為 1275

In [58]:
test = int(input('請輸入一個正整數:'))
sum = 0
for m in range(2):
  sum = sum+m
print("1到1的整數和為:",sum)
sum = 0
for n in range(3):
  sum = sum+n
print("1到2的整數和為:",sum)
sum = 0
for n in range(4):
  sum = sum+n
print("1到3的整數和為:",sum)
sum = 0
for n in range(5):
  sum = sum+n
print("1到4的整數和為:",sum)
sum = 0
for n in range(6):
  sum = sum+n
print("1到5的整數和為:",sum)
sum = 0
for n in range(7):
  sum = sum+n
print("1到6的整數和為:",sum)
sum = 0
for n in range(8):
  sum = sum+n
print("1到7的整數和為:",sum)
sum = 0
for n in range(9):
  sum = sum+n
print("1到8的整數和為:",sum)
sum = 0
for n in range(10):
  sum = sum+n
print("1到9的整數和為:",sum)
sum = 0
for n in range(11):
  sum = sum+n
print("1到10的整數和為:",sum)

請輸入一個正整數:10
1到1的整數和為: 1
1到2的整數和為: 3
1到3的整數和為: 6
1到4的整數和為: 10
1到5的整數和為: 15
1到6的整數和為: 21
1到7的整數和為: 28
1到8的整數和為: 36
1到9的整數和為: 45
1到10的整數和為: 55